@import "variables";

html *
{
  font-family: $poke_font;
}

body{
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
}

ol{
  list-style: none
}

.header_wrapper{
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
}
